# Python Language Basics

## Language Sematics

### Indentation, not braces

Python uses whitespace (tab or spaces) to structure code instead of using braces.

In [1]:
for i in range(10):
    if (i%2 == 0):
        print(i)

0
2
4
6
8

A colon denotes the start of an indented code block after which all of the code must be indented by the same amount until the end of the block.

### Comment
Use # to add comments to the code

In [2]:
# This is a comment
a = 2
print(a)

2

In [3]:
print("Add comment after a line of code") # Comment after a line of code

Add comment after a line of code

### Variables and argument passing

When assigning a variable in Python, we are creating a reference to the object on the right hand side of the equals sign.

In [4]:
a = [1, 2, 3]

In [5]:
b = a

In Python, a and b now refer to the same object.

In [6]:
print(id(a))
print(id(b))

140168812355848
140168812355848

In [7]:
a.append(99)
print(b)

[1, 2, 3, 99]

### Dynamic references

Variables are names for objects within a particular namespaces; the type informationis stored in the object itself.

In [8]:
a = 5
type(5)

int

In [9]:
a = 'foo'
type(a)

str

Knowing the type of an object is important. We can check an object is an instance of a particular type using

In [10]:
a = 5
isinstance(a, int)

True

In [11]:
a = 10; b = 24.3
isinstance(b, (int, float))

True

### Attributes and methods

Objects in Python have both attributes and methods. Both of them are accessed via the syntax *obj.attribute_name*

In [12]:
a = 'Python is beautiful'

In [13]:
a

'Python is beautiful'

Attributes and methods can also be accesed by name via the *getattr* function

In [14]:
getattr(a, 'split')

In [15]:
getattr(a, 'split')()

['Python', 'is', 'beautiful']

### Imports

In python a module a a file with the *.py* extension containing Python code

In [16]:
!cat a_module.py

a = 2
b = 3

def add(a, b):
    return a + b

In [17]:
import a_module
a_module.a

2

In [18]:
a_module.add(1, 99)

100

In [19]:
import a_module as am
am.add(12, 23)

35

### Binary operators and comparisions

In [20]:
12 + 24.2 # add

36.2

In [21]:
12 - 25 # subtract

-13

In [22]:
12 * 2 # multiply

24

In [23]:
12 / 2 # divide

6.0

In [24]:
type(12 / 2)

float

In [25]:
5 // 2 # floor-divide

2

In [26]:
type(5 // 2)

int

In [27]:
12 ** 2 # power

144

In [28]:
2 < 2

False

In [29]:
2 <= 2

True

To check if two references refer to the same object, use the *is* keyword

In [30]:
a = [1, 2, 3]

In [31]:
b = a

In [32]:
c = list(a)

In [33]:
print(id(a))
print(id(b))
print(id(c))

140168812405192
140168812405192
140168812407816

In [34]:
a is b

True

In [35]:
a is not c

True

Comparing with *is* is not the same as the == operator. == compares values of the two objects, not the identity of them.

In [36]:
a == c

True

A common use of *is* is to check if a variable is *None*

In [37]:
a = None
a is None

True

## Scalar Types

- None
- str
- bytes
- float
- bool
- int

### Numeric types

In Python, there are two types for numbers, which are *int* and *float*. An *int* can store arbitrarily large numbers:

In [38]:
a = 45315445

In [39]:
a ** 12

74981649433879895951648049638654483252296560205888819553854241770834106702323239140869140625

Floating-point numbers are represented with the Python *float* type. They can also be expressed with scientific notation

In [40]:
float_value = 123.23
float_value

123.23

In [41]:
float_value2 = 123.23e-6
float_value2

0.00012323

Integer division not resulting in a whole number will always yield a floating-point number

In [42]:
12 / 5

2.4

Use the floor-division if we want to drop the fractional part if the result is not a whole number

In [43]:
12 // 5

2

### Strings

We can use either single quotes '' or double "" to specify a string

In [44]:
a = 'use single quote to write a string'
a

'use single quote to write a string'

In [45]:
b = "use double quote to write a string"
b

'use double quote to write a string'

For multiline string with line breaks, we can use """

In [46]:
c = """
This is a longer string that 
spans multiple lines
"""

In [47]:
c

'\nThis is a longer string that \nspans multiple lines\n'

In [48]:
c.count('\n')

3

Python strings are immutable object. That means we cannot modify a string

In [49]:
a = "I love Python"

In [50]:
a[0]

'I'

In [51]:
a[0] = 'h'

TypeError: 'str' object does not support item assignment

In [52]:
a.replace('I', 'You')

'You love Python'

In [53]:
a

'I love Python'

Object of other types can be converted to string using function *str*

In [54]:
a = 2.3

In [55]:
type(a)

float

In [56]:
b = str(a)
b

'2.3'

In [57]:
type(b)

str

We can access elements of string using index and slicing as

In [58]:
a = 'Python'

In [59]:
a[0]

'P'

In [60]:
a[-1]

'n'

In [61]:
a[:2]

'Py'

In [62]:
a[3:]

'hon'

In [63]:
a[1:6:2]

'yhn'

In [64]:
a[::-1]

'nohtyP'

Adding two strings together concatenates them and produces a new string

In [65]:
a = "I love"
b = "Python"

In [66]:
a + " " + b

'I love Python'

In [67]:
a = 2
b = 3.5

In [68]:
print(str(a) + " + " + str(b) + " = " + str(a+b))

2 + 3.5 = 5.5

String formatting

In [69]:
print('{0} + {1} = {2}'.format(a, b, a+b))

2 + 3.5 = 5.5

### Booleans

The two boolean values in Python are written as *True* and *False*. Boolean values are combined with the *and* and *or* keywords

In [70]:
True and True

True

In [71]:
False or True

True

### Type casting

In [72]:
s = '3.14159'

In [73]:
fval = float(s)

In [74]:
fval

3.14159

In [75]:
type(fval)

float

In [76]:
int(fval)

3

In [77]:
bool(fval)

True

In [78]:
bool(0)

False

## Control Flow

### if, elif, and else

In [79]:
a = 2
if a > 0:
    print('a is positive')

a is positive

In [80]:
a = 15
if a < 0:
    print('a is negative')
elif a == 0:
    print('equal to zero')
elif 0 < a < 5:
    print('positive but smaller than 5')
else:
    print('positive and larger than 5')

positive and larger than 5

### for loops

*for* loop are for iterating over a collection or an iterator.

In [81]:
for i in range(10):
    if i%2 == 0:
        print(i)

0
2
4
6
8

In [82]:
for i in "python":
    print(i)

p
y
t
h
o
n

We can advance a for loop to the next iteration using the *continue* keyword

In [83]:
for i in [1, 2, None, 3, None, 4, 5]:
    if i is None:
        continue
    else:
        print(i)

1
2
3
4
5

We can exits a for loop with the *break* keyword.

In [84]:
for i in [1,2,3,4,5]:
    print(i)
    if i == 4:
        break

1
2
3
4

### while loops

A while loop specifies a condition and a block of code that is to be executed until the condition evaluates to False or the loop is explicitly ended with break

In [85]:
x = 10
while x > 1:
    x = x / 2
    print(x)

5.0
2.5
1.25
0.625

In [86]:
x = 10
while True:
    x = x / 2
    print(x)
    if x < 1:
        break

5.0
2.5
1.25
0.625

### Tenary expression

A tenary expression in Python allows us to combine an if-else block that produces a value into a single line or expression.

In [87]:
a = -2
b = True if a > 0 else False

In [88]:
b

False

# Built-in Data Structures, Functions, and Files

## Data Structures and Sequences

### Tuple

A tuple is a fixed-length, immutable sequence of Python objects. To create a tuple, use comma to separate sequence of values

In [89]:
a_tuple = 1, 2, 3

In [90]:
a_tuple

(1, 2, 3)

In [91]:
nested_tuple = ((1, 2, 3), (4, 5))

In [92]:
nested_tuple

((1, 2, 3), (4, 5))

We can convert any sequence or iterator to a tuple by calling *tuple()*

In [93]:
a = tuple([1, 2, 3])

In [94]:
a

(1, 2, 3)

In [95]:
b = tuple('python')

In [96]:
b

('p', 'y', 't', 'h', 'o', 'n')

One can access elements of a tuple using square brackets as with other sequence types

In [97]:
b[0]

'p'

In [98]:
b[:]

('p', 'y', 't', 'h', 'o', 'n')

A tuple is an immutable object, thus, one cannot modify objects stored in each slot.

In [99]:
b[2] = 'x'

TypeError: 'tuple' object does not support item assignment

However, if an object inside a tuple is mutable, one can modify it in-place

In [100]:
c = ([1,2,3], 4, 'python')

In [101]:
c[1] = 2

TypeError: 'tuple' object does not support item assignment

In [102]:
c[0].append(99)

In [103]:
c

([1, 2, 3, 99], 4, 'python')

### Unpacking tuples

In [104]:
tup = (1, 2, 3)

In [105]:
a, b, c = tup

In [106]:
print(a)
print(b)
print(c)

1
2
3

Even sequences with nested tuples can be unpacked

In [107]:
tup = ((1, 2), 3, 'python')
(a, b), c, d = tup

In [108]:
print(a)
print(b)
print(c)
print(d)

1
2
3
python

The most popular use case of this feature is to swap variable names

In [109]:
a = 1
b = 2

In [110]:
print(a)
print(b)

1
2

In [111]:
a, b = b, a

In [112]:
print(a)
print(b)

2
1

## List

List are variable-length and their contents can be modified in-place.

In [113]:
a_list = [1, 3, 4]

In [114]:
a_list[-1] = 99

In [115]:
a_list

[1, 3, 99]

In [116]:
b_tup = ((1, 2), 3, 'python')
b_list = list(b_tup)

In [117]:
b_list

[(1, 2), 3, 'python']

### Adding and removing elements

Elements can be appended to the end of the list with the *append* method

In [118]:
b_list.append(99)

In [119]:
b_list

[(1, 2), 3, 'python', 99]

Using *insert* you can insert an element at a specific location in the list

In [120]:
b_list.insert(2, ('I', 'love'))

In [121]:
b_list

[(1, 2), 3, ('I', 'love'), 'python', 99]

The insertion index must be between 0 and the length of the list, inclusive.

The inverse operation to insert is *pop*, which removes and returns an element at a particular index

In [122]:
b_list.pop(0)

(1, 2)

In [123]:
b_list

[3, ('I', 'love'), 'python', 99]

Elements can be removed by value with *remove*, which locates the first such value and removes it.

In [124]:
b_list.append('python')

In [125]:
b_list.remove('python')
b_list

[3, ('I', 'love'), 99, 'python']

Use *in* keyword to check if a list contains a value

In [126]:
b_list

[3, ('I', 'love'), 99, 'python']

In [127]:
99 in b_list

True

In [128]:
'python' not in b_list

False

### Concatenating and combining lists

Similar to tuples, adding two lists together with + concatenates them

In [129]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

We can append multiple elements to a list using *extend* method

In [130]:
a = [1, 2, 3]
a.extend([4, 5, (6, 7)])

In [131]:
a

[1, 2, 3, 4, 5, (6, 7)]

In [132]:
a.append([4, 5, (6, 7)])

In [133]:
a

[1, 2, 3, 4, 5, (6, 7), [4, 5, (6, 7)]]

### Sorting

We can sort a list in-place by calling its sort function

In [134]:
a = [4, 2, 9, 1, 2, 8]

In [135]:
a.sort()

In [136]:
a

[1, 2, 2, 4, 8, 9]

*sort* has a few options that will occasionally come in handy. One is the ability to pass a secondary *sort* key - that is a function which produces a value to use to sort the object.

In [137]:
a = ['xxxx', 'x', 'xx', 'xxx']

In [138]:
a.sort(key=len)

In [139]:
a

['x', 'xx', 'xxx', 'xxxx']

### Slicing

In [140]:
seq = [2, 3, 1, 5, 3, 6, 9, 7, 8]

In [141]:
seq[1:5]

[3, 1, 5, 3]

In [142]:
seq[:3]

[2, 3, 1]

In [143]:
seq[-3:]

[9, 7, 8]

In [144]:
seq[::2]

[2, 1, 3, 9, 8]

In [145]:
seq[::-1]

[8, 7, 9, 6, 3, 5, 1, 3, 2]

## Built-in Sequence Functions

### enumerate

Use *enumerate* to iterate over a sequence and keep track of the index of the current item.

In [146]:
a = 'python'
for i, letter in enumerate(a):
    print(i, letter)

0 p
1 y
2 t
3 h
4 o
5 n

### reversed

*reversed* iterates over the elements of a sequence in reverse order

In [147]:
for item in reversed(a):
    print(item)

n
o
h
t
y
p

### zip

*zip* pairs up the elements of a number of lists, tuples, or other sequences to create a list of tuples

In [148]:
a = [1, 2, 3, 4]
b = ['x', 'y', 'z', 'w']

In [149]:
c = list(zip(a, b))

In [150]:
c

[(1, 'x'), (2, 'y'), (3, 'z'), (4, 'w')]

A very common use of *zip* is simultaneously iterating over multiple sequences

In [151]:
#Without using zip
for i in range(len(a)):
    print(a[i], b[i])

1 x
2 y
3 z
4 w

In [152]:
#Using zip
for x, y in zip(a, b):
    print(x, y)

1 x
2 y
3 z
4 w

In [153]:
full_name = [('quang', 'duong'), ('ha', 'nguyen'), ('binh', 'vo')]

In [154]:
first_name, last_name = zip(*full_name)

In [155]:
first_name

('quang', 'ha', 'binh')

In [156]:
last_name

('duong', 'nguyen', 'vo')

## dict

dict is flexibly sized collection of key-value parts, where key and value are Python objects. To create a dict use curly braces {} abd colons to separate keys and values

In [157]:
d1 = {'a': 1, 'b': [1, 2, 3], 'c': 'python'}

We can access, insert, or set elements using the same syntax as for accessing elements of a list or tuples

In [158]:
d1[3] = 4

In [159]:
d1

{'a': 1, 'b': [1, 2, 3], 'c': 'python', 3: 4}

In [160]:
d1['e'] = 'foo'

In [161]:
d1

{'a': 1, 'b': [1, 2, 3], 'c': 'python', 3: 4, 'e': 'foo'}

We can check if a dict contains a key using the same syntax used for checking a list or typle contains a value

In [162]:
'b' in d1

True

We can delete values either using the *del* keyword or the *pop* method

In [163]:
d1

{'a': 1, 'b': [1, 2, 3], 'c': 'python', 3: 4, 'e': 'foo'}

In [164]:
del d1['e']

In [165]:
d1.pop('c')

'python'

In [166]:
d1

{'a': 1, 'b': [1, 2, 3], 3: 4}

The *key* and *values* method give you iterators of the dict's keys and values, respectively.

In [167]:
d1.keys()

dict_keys(['a', 'b', 3])

In [168]:
d1.values()

dict_values([1, [1, 2, 3], 4])

We can merge one dict ot another using the *update* method

In [169]:
d1.update({'c': 'foo', 'd': (99, 24), 'a': 999})

In [170]:
d1

{'a': 999, 'b': [1, 2, 3], 3: 4, 'c': 'foo', 'd': (99, 24)}

### Creating dicts from sequences

In [171]:
keys = (0, 1, 2, 3, 4)
values = ('a', 'b', 'c', 'd', 'e')

In [172]:
mapping = {}
for key, value in zip(keys, values):
    mapping[key] = value

In [173]:
mapping

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [174]:
mapping_2 = dict(zip(keys, values))

In [175]:
mapping_2

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

### Default values

For examples, we want to count the occurrence of values in a list using the following code

In [176]:
a = [1, 2, 3, 3, 2, 1, 4, 3, 4]
count = {}
for item in a:
    if item not in count:
        count[item] = 1
    else:
        count[item] = count[item] + 1

The above code can be simplify using *get* method, which returns a default value if the key is not present

In [177]:
count_2 = {}
for item in a:
    count_2[item] = count_2.get(item, 0) + 1

In [178]:
count_2

{1: 2, 2: 2, 3: 3, 4: 2}

### Valid dict key type

The value of a dict can be any Python object, whie the keys generally have to be immutable objects like scalar types, or tuples. We can check whether an object is hashable (can be used as a key in a dict) with the hash function

In [179]:
hash('python')

-5955851575180365429

In [180]:
hash((1, 2, (3, 4)))

-2725224101759650258

In [181]:
hash([1,2,3])

TypeError: unhashable type: 'list'

## set

A set is an unordered collection of unique elements. It is similar to dict but it only have keys and no values. We can create a set with

In [182]:
set([1, 2, 3, 2, 1, 4, 5])

{1, 2, 3, 4, 5}

Or

In [183]:
{1, 2, 3, 2, 1, 4, 5}

{1, 2, 3, 4, 5}

We can perform mathematiccal set operations on set objects. Those are union, intersection, difference, and symmetric difference. For example,

In [184]:
a = {1, 2, 3, 4}
b = {2, 4, 5, 6, 7, 8}

In [185]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [186]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [187]:
a.intersection(b)

{2, 4}

In [188]:
a & b

{2, 4}

We can check if a set is a subset or a superset of another set using

In [189]:
a = {1, 2, 3, 4, 5}

In [190]:
{2, 5}.issubset(a)

True

In [191]:
a.issuperset({1, 3, 5})

True

## List, Set, and Dict Comprehension

List Comprehension is a very feature of Python, that allow us to create a list by filtering the elements of a collection, transforming the elements pasing the filter in one expression. For example, the following code creates a list of even numbers from a list of numbers

In [192]:
a = list(range(10))

In [193]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [194]:
even = []
for num in a:
    if num % 2 == 0:
        even.append(num)

In [195]:
even

[0, 2, 4, 6, 8]

With list comprehension, the above code can be rewritten as

In [196]:
even = [num for num in a if num % 2 == 0]

In [197]:
even

[0, 2, 4, 6, 8]

Dict comprehension can also be created using a similar syntax except we use curly brace instead of bracket. For excample,

In [198]:
list_string = ['python', 'java', 'C', 'C#']

In [199]:
len_of_lan = {lan: len(lan) for lan in list_string}

In [200]:
len_of_lan

{'python': 6, 'java': 4, 'C': 1, 'C#': 2}

Set comprehension is created as follow

In [201]:
strings = ['aa', 'bb', 'ccc', 'dddd', 'eeee']

In [202]:
unique_len = {len(item) for item in strings}

In [203]:
unique_len

{2, 3, 4}

# Functions

In Python, functions are declrared with the *def* keyword and returned from with the *return* keyword:

In [204]:
def check_even(x):
    return x % 2 == 0

In [205]:
check_even(100)

True

In [206]:
check_even(99)

False

Functions can have positional arguments and keyword arguments. Keyword arguments are used to specify default values or optional

In [207]:
def add(x, y, verbose=False):
    if verbose:
        print("{} + {} = {}".format(x, y, x + y))
    return x + y

In [208]:
z1 = add(3, 9)

In [213]:
z1

12

In [214]:
z2 = add(3, 9, True)

3 + 9 = 12

## Namespaces, Scope, and Local Funtions

It should be noted that variables created inside a function, when that function is called, are local variables. Thus, when the function finished, the local variable is destroyed. Consider this example

In [215]:
def my_func():
    a = []
    for i in range(5):
        a.append(i)

In [216]:
a = [1, 2, 3]
my_func()

In [217]:
a

[1, 2, 3]

However if one forgets to declare list a inside *myfunc*, the function reaches global scope to find *a*

In [218]:
def my_func_alt():
    for i in range(5):
        a.append(i)

In [219]:
del a

In [220]:
a = [1 ,2, 3]
my_func_alt()

In [221]:
a

[1, 2, 3, 0, 1, 2, 3, 4]

## Returning Multiple Values

Functions in Python can return multiple values as

In [222]:
def return_multiples():
    a = 1
    b = 2
    c = 3
    return a, b, c

In [223]:
my_results = return_multiples()

In [224]:
my_results

(1, 2, 3)

As we observe, the function indeed returns a tuple. So that it is very helpful to unpack the mutiple values returned by a function as

In [225]:
x, y, z = return_multiples()
print(x)
print(y)
print(z)

1
2
3

## Functions Are Objects

In [226]:
x = ['HA NOI', 'THAI BINH', 'LANG SON', 'DA NANG']

In [227]:
def get_first(string):
    return string.split()[0]

In [228]:
[str.lower(first) for first in [get_first(item) for item in x]]

['ha', 'thai', 'lang', 'da']

In [229]:
list_functions = [get_first, str.lower]

In [230]:
list_functions

In [231]:
[list_functions[1](ss) for ss in [list_functions[0](s) for s in x]]

['ha', 'thai', 'lang', 'da']

In [232]:
def get_lower_first(strings, list_functions):
    result = []
    for s in strings:
        for function in list_functions:
            s = function(s)
        result.append(s)
    return result

In [233]:
get_lower_first(x, list_functions)

['ha', 'thai', 'lang', 'da']

## Lambda Functions

Python supports anonymous or lambda functions. They are defined with the *lambda* keyword

In [234]:
def square(x):
    return x**2

In [235]:
square_x = lambda x: x**2

In [236]:
square(2)

4

In [237]:
square_x(2)

4

The useful use case of lambda function is using it as a parameter passing to another function. For example, we have a list of string and want to sort that list based on the length of them. We could do that as follow

In [238]:
x = ['abc', 'defg', 'aa', 'b', 'xyght']

In [239]:
x.sort()

In [240]:
x

['aa', 'abc', 'b', 'defg', 'xyght']

In [241]:
x.sort(key = lambda x: len(x))

In [242]:
x

['b', 'aa', 'abc', 'defg', 'xyght']

## Generators

Generators return a sequence of multiple results lazily, pausing after each one until the next one is requested. To create a generator, use the *yield* keyword instead of *return* in a function

In [243]:
def square(n=10):
    print("Generating squares from 1 to {}".format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

When we actually call the generator, no code is immediately executed:

In [244]:
gen = square()

In [245]:
gen

It is not until we request elements from the generator that it begins executing its code:

In [246]:
for x in gen:
    print(x, end = " ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

### Generator expressions

Another way to create a generator is by using generator expression

In [247]:
gen = (x ** 2 for x in range(10))

In [248]:
gen

In [249]:
list(gen)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Errors and Exception Handling

In Python, we can manage error in a *try*/*except* block. For exampple, Python's *float* function is able to cast a  string to a floating-point number, but fails with *ValueError* on invalid inputs

In [250]:
float("24.03")

24.03

In [251]:
float('24.a3')

ValueError: could not convert string to float: '24.a3'

If we want to write a function that convert a valid string to float, and return the string argument if that string is unable to cast using *float*. We can do this as follow:

In [252]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [253]:
attempt_float("24.03")

24.03

In [254]:
attempt_float("24.a3")

'24.a3'

In case we need some code to be executed whether the code in the *try* block succeeds or not. We use *finally* keyword

In [255]:
def attempt_float_2(x):
    try:
        return float(x)
    except:
        return x
    finally:
        print("Attempted to cast {} to float".format(x))

In [256]:
attempt_float_2("24.03")

Attempted to cast 24.03 to float

24.03

In [257]:
attempt_float_2("24.a3")

Attempted to cast 24.a3 to float

'24.a3'

# Homework

- Write code to print out 1 to 100. If the number is a multiple of 3, print out "fizz" instead of the number. If the number is a multiple of 5, print out "buzz". If the number is multiple of 3 and 5, print out "fizzbuzz".

- Let’s say I give you a list saved in a variable: a = [[1, 4], [9, 16], [25, 36]]. Write one line of Python that takes this list a and makes a new list that contains [1, 4, 9, 16, 25, 36]

- Given a dictionary my_dict = {'a': 9, 'b': 1, 'c': 12, 'd': 7}. Write code to print out a list of sorted key based on their value. For example, in this case, the code should print out ['b', 'd', 'a', 'c']

- Take two lists, say for example these two:

	a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
    
    b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
    
and write a program that returns a list that contains only the elements that are common between the lists (without duplicates). Make sure your program works on two lists of different sizes.

- Write a function that accept a string as a single argument and print out whether that string is a palindrome. (A palindrome is a string that reads the same forwards and backwards.) For example, "abcddcba" is a palindrome, "1221" is also a palindrome.

- You are given a string and width W. Write code to wrap the string into a paragraph of width W.