# Python Language Basics

## Language Sematics

### Indentation, not braces

Python uses whitespace (tab or spaces) to structure code instead of using braces.

In [1]:
for i in range(10):
    if (i%2 == 0):
        print(i)

0
2
4
6
8

A colon denotes the start of an indented code block after which all of the code must be indented by the same amount until the end of the block.

### Comment
Use # to add comments to the code

In [4]:
a = 9.0
type(a)

float

In [5]:
# This is a comment
a = 2
print(a)

2

In [7]:
print("hello word") # Comment after a line of code

hello word

### Variables and argument passing

When assigning a variable in Python, we are creating a reference to the object on the right hand side of the equals sign.

In [8]:
a = [1, 2, 3]

In [9]:
b = a
b

[1, 2, 3]

In Python, a and b now refer to the same object.

In [6]:
print(id(a))
print(id(b))

140168812355848
140168812355848

In [10]:
a.append(99)
print(b)

[1, 2, 3, 99]

### Dynamic references

Variables are names for objects within a particular namespaces; the type informationis stored in the object itself.

In [11]:
a = 5
type(5)

int

In [12]:
a = "string" 
type(a)

str

Knowing the type of an object is important. We can check an object is an instance of a particular type using

In [13]:
a = "string"
isinstance(a, int)

False

In [17]:
s = 'python basic #$rw'
type(s)

str

In [18]:
a = 10; b = 24.3
isinstance(b, (int, float))

True

### Attributes and methods

Objects in Python have both attributes and methods. Both of them are accessed via the syntax *obj.attribute_name*

In [21]:
a = 'Python is beautiful'

In [22]:
a

'Python is beautiful'

Attributes and methods can also be accesed by name via the *getattr* function

In [23]:
getattr(a, 'split')

In [15]:
getattr(a, 'split')()

['Python', 'is', 'beautiful']

### Imports

In python a module a a file with the *.py* extension containing Python code

In [24]:
import math 

math.sqrt(25)

5.0

In [16]:
!cat a_module.py

a = 2
b = 3

def add(a, b):
    return a + b

In [17]:
import a_module
a_module.a

2

In [18]:
a_module.add(1, 99)

100

In [19]:
import a_module as am
am.add(12, 23)

35

### Binary operators and comparisions

In [29]:
x = 5.0 
y = 8
x + y

13.0

In [30]:
12 + 24.2 # add

36.2

In [21]:
12 - 25 # subtract

-13

In [32]:
2**10

1024

In [22]:
12 * 2 # multiply

24

In [33]:
answer = 12 / 2 # divide
type(answer)

float

In [24]:
type(12 / 2)

float

In [34]:
5 // 2 # floor-divide

2

In [26]:
type(5 // 2)

int

In [27]:
12 ** 2 # power

144

In [ ]:
< > == <= >= != >> << && || and or is

In [28]:
2 < 2

False

In [29]:
2 <= 2

True

In [137]:
a = 2
b = 3
a == b # 2 == 3 ? False : True

False

To check if two references refer to the same object, use the *is* keyword

In [44]:
a = [1, 2, 3]

In [45]:
b = a

In [46]:
c = list(a)

In [47]:
print(id(a))
print(id(b))
print(id(c))

139693211241352
139693211241352
139693210335880

In [51]:
a is b

True

In [49]:
c

[1, 2, 3]

In [50]:
a is c # vi dia chi bien a khac c .

False

Comparing with *is* is not the same as the == operator. == compares values of the two objects, not the identity of them.

In [36]:
a == c

True

A common use of *is* is to check if a variable is *None*

In [37]:
a = None
a is None

True

## Scalar Types

- None
- str
- bytes
- float
- bool
- int

### Numeric types

In Python, there are two types for numbers, which are *int* and *float*. An *int* can store arbitrarily large numbers:

In [38]:
a = 45315445

In [39]:
a ** 12
int a # bien kieu nguyen | bien co gia tri -10^8 -> 10^8. 
long long # bien kieu nguyen | bien gia tri - 10^-17 -> 10^17

74981649433879895951648049638654483252296560205888819553854241770834106702323239140869140625

Floating-point numbers are represented with the Python *float* type. They can also be expressed with scientific notation

In [40]:
float_value = 123.23
float_value

123.23

In [41]:
float_value2 = 123.23e-6
float_value2

0.00012323

Integer division not resulting in a whole number will always yield a floating-point number

In [42]:
12 / 5

2.4

Use the floor-division if we want to drop the fractional part if the result is not a whole number

In [43]:
12 // 5

2

### Strings

We can use either single quotes '' or double "" to specify a string

In [44]:
a = 'use single quote to write a string'
a

'use single quote to write a string'

In [45]:
b = "use double quote to write a string"
b

'use double quote to write a string'

For multiline string with line breaks, we can use """

In [54]:
c = """
This is a longer string that 
spans multiple lines
thuc hien in ra hello world. 
"""
#\n xuong dong

In [55]:
c

'\nThis is a longer string that \nspans multiple lines\nthuc hien in ra hello world. \n'

In [58]:
c.count('i')

7

Python strings are immutable object. That means we cannot modify a string

In [59]:
a = "I love Python"

In [61]:
a[-2]

'o'

In [62]:
a[0] = 'h'

TypeError: 'str' object does not support item assignment

In [63]:
a.replace('I', 'You')

'You love Python'

In [53]:
a

'I love Python'

Object of other types can be converted to string using function *str*

In [64]:
a = 2.3

In [65]:
type(a)

float

In [66]:
b = str(a) # ep kieu du lieu. 
b

'2.3'

In [57]:
type(b)

str

In [73]:
p = "123a" 
y = float(p)

ValueError: could not convert string to float: '123a'

In [72]:
type(y)
y

123.0

We can access elements of string using index and slicing as

In [74]:
a = 'Python'

In [75]:
a[0]

'P'

In [76]:
a[-1]

'n'

In [82]:
a[:2] # lay tu vi tri 0 -> < 2.

'Py'

In [84]:
a[3:]

'hon'

In [86]:
a[1:6:2]

'yhn'

In [87]:
a = 'Python'
a[::-1]

'nohtyP'

Adding two strings together concatenates them and produces a new string

In [88]:
a = "I love"
b = "Python"

In [90]:
a + " " + b + " " + "3.9"

'I love Python 3.9'

In [93]:
x = 9 
x = str(x)
y = "python"
x + y

'9python'

In [95]:
a = 2
b = 3.5

In [96]:
print(str(a) + " + " + str(b) + " = " + str(a+b))

2 + 3.5 = 5.5

String formatting

In [150]:
a = 2
day = 8
month = 7 
year = 2021
print('{}:00 P.M - {}:Day - {}:Month - {}:Year'.format(a,day,month,year))

2:00 P.M - 8:Day - 7:Month - 2021:Year

### Booleans

The two boolean values in Python are written as *True* and *False*. Boolean values are combined with the *and* and *or* keywords

In [117]:
True and False

False

In [104]:
x = -1 
y = 5 

if (x < 0 or y < 0):
    print("True")
else: 
    print("False")

True

In [105]:
False or True

True

### Type casting

In [106]:
s = '3.14159'

In [107]:
fval = float(s)

In [108]:
fval

3.14159

In [109]:
type(fval)

float

In [110]:
int(fval)

3

In [126]:
bool(1)

True

In [115]:
bool(0)

False

## Control Flow

### if, elif, and else

In [79]:
a = 2
if a > 0:
    print('a is positive')

a is positive

In [116]:
a = 15
if a < 0:
    print('a is negative')
elif a == 0:
    print('equal to zero')
elif 0 < a < 5:
    print('positive but smaller than 5')
else:
    print('positive and larger than 5')

positive and larger than 5

### for loops

*for* loop are for iterating over a collection or an iterator.

In [119]:
a = range(10)
a

range(0, 10)

In [122]:
i = 4
i%2

0

In [127]:
for i in range(10):
    if i%2 == False:
        print(i)

0
2
4
6
8

In [82]:
for i in "python":
    print(i)

p
y
t
h
o
n

We can advance a for loop to the next iteration using the *continue* keyword

In [128]:
1 is None

False

In [129]:
for i in [1, 2, None, 3, None, 4, 5]:
    if i is None:
        continue
    else:
        print(i)

1
2
3
4
5

We can exits a for loop with the *break* keyword.

In [132]:
for i in [1, 3 ,5 ,7]:
    print(i)
    if i == 5:
        break # thoat vong lap

1
3
5

### while loops

A while loop specifies a condition and a block of code that is to be executed until the condition evaluates to False or the loop is explicitly ended with break

### Tenary expression

A tenary expression in Python allows us to combine an if-else block that produces a value into a single line or expression.

In [142]:
x = 1 
while True: 
    print(x)
    x = x + 1 
    if x == 5: 
        break

1
2
3
4

In [143]:
a = -2
b = True if a > 0 else False

if a > 0: 
    b = True 
else: 
    b = False

In [144]:
b

False

# Homework

- Viết code hiển thị từ 1 đến 100. Nếu số chia hết cho 3 print out "fizz" . Nếu số chia hết cho 5, print out "buzz". Nếu số chia hết cho cả 3 và 5, print out "fizzbuzz".

- Cho một list như này: a = [[1, 4], [9, 16], [25, 36]]. Viết code tạo ra list như này [1, 4, 9, 16, 25, 36]

- Cho một dictionary my_dict = {'a': 9, 'b': 1, 'c': 12, 'd': 7}. Viết code hiển thị ra dict sắp xếp value based on their value. For example, in this case, the code should print out ['b', 'd', 'a', 'c']

- Take two lists, say for example these two:

	a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
    
    b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
    
and write a program that returns a list that contains only the elements that are common between the lists (without duplicates). Make sure your program works on two lists of different sizes.

- Write a function that accept a string as a single argument and print out whether that string is a palindrome. (A palindrome is a string that reads the same forwards and backwards.) For example, "abcddcba" is a palindrome, "1221" is also a palindrome.

- You are given a string and width W. Write code to wrap the string into a paragraph of width W.